.yellow-background{
    background-color: #FDE767;
    
}

.amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }


  
.roboto-flex {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 150;
}

.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}
.nunito-sans  {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
    font-size: 28px;  
}

.card-img {
    height: 10px;
    width: auto; 
    /* Ancho automático para mantener la proporción original */
}

/* grey background color */
.hero {
    background-color: #F6F5F2;
    
    width: 100%;
}

/* background photo */
/* .hero {
    
    background-image: url("../img/fondo.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
     
} */


.red_color{
    color:  #D04848;
    font-size: 26px;  
}

.orange_color{
    background-color: #F3B95F;
}
.yellow_color{
    color: #FDE767;
    
}