{% extends "food/base.html" %}
{% load static %}

{% block content %}

<!-- Start Hero -->
<div class="py-4">
    <!-- SCREEN LARGER THAN 768PX -->
    <div class="container p-1 d-none d-md-flex">

        <div class="row justify-content-around py-3">
            <div class="col-12 col-sm-12 col-lg-8">
                <div class="card p-1">
                    <h4 class="card-title text-center">Shopping Cart</h4>
                    <div class="container d-flex justify-content-center align-items-center py-3">
                        <div class="px-5">
                            <strong class="cart-warning-message">Check your order carefully. Check quantities and prices
                                before finalising your purchase.</strong>
                        </div>
                    </div>

                    <div class=" text-center">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row d-flex justify-content-center align-items-center  ">
                                    <div class="col-lg-2 col-sm-2"><strong>Product</strong></div>
                                    <div class="col-lg-2 col-sm-2"><strong>Price</strong></div>
                                    <div class="col-lg-2 col-sm-2"><strong>Quantity</strong></div>
                                    <div class="col-lg-2 col-sm-2"><strong>Total</strong></div>
                                    <div class="col-lg-2 col-sm-2"></div>
                                </div>
                            </li>
                            <li class="list-group-item"></li>
                        </ul>
                    </div>
                    <div class="card-body py-1">
                        <div class="text-center">
                            <ul class="list-group list-group-flush">
                                {% for key, value in request.session.cart.items %}
                                <li class="list-group-item equal-height p-1 d-none d-sm-flex d-md-flex d-lg-flex">
                                    <div class="row d-flex justify-content-center align-items-center "
                                        style="width: 100%;">
                                        <div
                                            class="col-lg-1 col-md-1 col-sm-1 d-flex justify-content-center align-items-center ">

                                            <img src="{{ value.image }}" alt="{{ value.name }} image"
                                                class="product-image custom-image">
                                        </div>
                                        <!-- I put 'd-flex justify....align...' to all columns to ensure horizontal and vertical alignment within them -->
                                        <div
                                            class="col-lg-1  col-md-1 col-sm-1 d-flex justify-content-center align-items-center ">
                                            {{ value.name }}</div>
                                        <div
                                            class="col-lg-2 col-md-2 col-sm-2 d-flex justify-content-center align-items-center">
                                            {{value.price }}</div>
                                        <div
                                            class="col-lg-2 col-md-2 col-sm-2 d-flex justify-content-center align-items-center">
                                            {{value.quantity }}</div>
                                        <div
                                            class="col-lg-2 col-md-2 col-sm-2 d-flex justify-content-center align-items-center">
                                            ${{value.subtotal }}</div>
                                        <div
                                            class="col-lg-2 col-md-2 col-sm-2 d-flex justify-content-center align-items-center">
                                            <a href="{% url 'food:delete_item' product_id=value.product_id %}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                    fill="currentColor" class="bi bi-trash3 text-danger"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                                <li class="list-group-item "></li>
                            </ul>
                            <div class="row d-flex justify-content-center align-items-center py-2" style="width: 100%;">

                                <div class="col-lg-4 col-md-4 d-flex justify-content-start align-items-center px-5">
                                    <a href="{% url 'food:clean_cart' %}" style="text-decoration: none;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="currentColor" class="bi bi-trash3 text-danger" viewBox="0 0 16 16">
                                            <path
                                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                        </svg><span class="clear-cart">Clear Cart</span>
                                    </a>
                                </div>
                                <div
                                    class="col-lg-4 col-md-4 offset-md-4 offset-lg-3 d-flex justify-content-center align-items-center">
                                    <a href="{% url 'food:home' %}" style="text-decoration: none;">
                                        <span class="clear-cart btn  orange_color fw-bold" role="button">Continue
                                            Shoping</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Cart Summary -->
            <div class="col-12 col-sm-12 col-lg-4 gy-3">
                <div class="card ">
                    <div class="card-header " style="background-color: white;">
                        <h4 class="cart-title text-center fs-4">Cart Summary</h4>
                    </div>
                    <div class="card-text card-body">
                        <!-- <div class="d-flex justify-content-center align-items-center "> -->
                        <div class="row ">
                            <p
                                class="col-lg-5 col-md-5 offset-md-2 d-flex d-flex justify-content-between fw-bold offset-lg-1">
                                Subtotal</p>
                            <p class="col-lg-3 col-md-3 offset-md-2 d-flex d-flex justify-content-between offset-lg-3">
                                ${{request.session.cartTotalToPay }}</p>
                        </div>
                        <div class="row ">
                            <p
                                class="col-lg-5 col-md-5 offset-md-2 d-flex d-flex justify-content-between fw-bold offset-lg-1">
                                Shipping</p>
                            <p
                                class="col-lg-3 col-md-3 offset-md-2 d-flex d-flex justify-content-between offset-lg-3 blue-color">
                                Free</p>
                        </div>
                        <div class="row ">
                            <p
                                class="col-lg-5 col-md-5 offset-md-2 d-flex d-flex justify-content-between fw-bold offset-lg-1">
                                Total</p>
                            <p class="col-lg-3 col-md-3 offset-md-2 d-flex d-flex justify-content-between offset-lg-3">
                                ${{request.session.cartTotalToPay}}</p>
                        </div>
                        <div class="container col-lg-12  ">
                            {% if request.session.personal_data %}
                            <a href="{% url 'food:confirmation' %}" style="text-decoration: none;">
                                <!-- d-grid gap-2 create a block buttons with a full-width -->
                                <span class="clear-cart btn  orange_color fw-bold d-grid gap-2" role="button">Finish
                                    Order</span>
                            </a>
                            {% else %}
                            <a href="{% url 'food:user_data' %}" style="text-decoration: none;">
                                <!-- d-grid gap-2 create a block buttons with a full-width -->
                                <span class="clear-cart btn  orange_color fw-bold d-grid gap-2" role="button">Finish
                                    Order</span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Cart Summary -->
        </div>
    </div>

    <!-- SCREEN SMALLER THAN 768PX -->
    <div class="m-2 d-flex d-md-none">

        <div class="row justify-content-around py-3">
            <div class="col-12 col-sm-12 col-lg-8">
                <div class="card p-1">
                    <h4 class="card-title text-center">Shopping Cart</h4>
                    <div class="container d-flex justify-content-center align-items-center py-3">
                        <div class="px-5">
                            <strong class="cart-warning-message">Check your order carefully. Check quantities and prices
                                before finalising your purchase.</strong>
                        </div>
                    </div>

                    <div class=" text-center">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <!--  in SMALL SCREEN  will disappear <576px-->
                                <div class="row d-flex justify-content-center align-items-center d-none d-sm-flex ">
                                    <div class="col-lg-2 col-sm-2"><strong>Product</strong></div>
                                    <div class="col-lg-2 col-sm-2"><strong>Price</strong></div>
                                    <div class="col-lg-2 col-sm-2"><strong>Quantity</strong></div>
                                    <div class="col-lg-2 col-sm-2"><strong>Total</strong></div>
                                    <div class="col-lg-2 col-sm-2"></div>
                                </div>

                            </li>
                            <li class="list-group-item"></li>
                        </ul>
                    </div>
                    <div class="card-body py-1">
                        <div class="text-center">
                            <ul class="list-group list-group-flush">
                                {% for key, value in request.session.cart.items %}
                                <!-- FOR  SCREENS >=576px -->
                                <li class="list-group-item equal-height p-1 d-none d-sm-flex ">
                                    <div class="row d-flex justify-content-center align-items-center "
                                        style="width: 100%;">
                                        <div
                                            class="col-lg-1 col-md-1 col-sm-1 d-flex justify-content-center align-items-center ">

                                            <img src="{{ value.image }}" alt="{{ value.name }} image"
                                                class="product-image custom-image">
                                        </div>
                                        <!-- I put 'd-flex justify....align...' to all columns to ensure horizontal and vertical alignment within them -->
                                        <div
                                            class="col-lg-1  col-md-1 col-sm-1 d-flex justify-content-center align-items-center ">
                                            {{ value.name }}</div>
                                        <div
                                            class="col-lg-2 col-md-2 col-sm-2 d-flex justify-content-center align-items-center">
                                            {{value.price }}</div>
                                        <div
                                            class="col-lg-2 col-md-2 col-sm-2 d-flex justify-content-center align-items-center">
                                            {{value.quantity }}</div>
                                        <div
                                            class="col-lg-2 col-md-2 col-sm-2 d-flex justify-content-center align-items-center">
                                            ${{value.subtotal }}</div>
                                        <div
                                            class="col-lg-2 col-md-2 col-sm-2 d-flex justify-content-center align-items-center">
                                            <a href="{% url 'food:delete_item' product_id=value.product_id %}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                    fill="currentColor" class="bi bi-trash3 text-danger"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                
                                <!-- FOR SMALL SCREENS <576px -->
                                <li class="list-group-item equal-height p-1 d-block d-sm-none">
                                    <div class="container d-flex justify-content-between">
                                        <div class=" row align-self-center text-center">

                                            <div class="col-12 align-self-center px-5">
                                                <img src="{{value.image}}" alt=""
                                                    class="custom-image img-thumbnail me-2" />
                                            </div>

                                            <div class="row align-self-center text-center">
                                                <div class="col-4 "><strong>Price</strong></div>
                                                <div class="col-4 offset-4 align-self-center ps-5">${{value.price}}
                                                </div>
                                            </div>

                                            <div class="row align-self-center text-center">
                                                <div class="col-4 "><strong>Quantity</strong></div>
                                                <div class="col-4 offset-4 align-self-center ps-5">{{value.quantity}}
                                                </div>
                                            </div>

                                            <div class="row align-self-center text-center">
                                                <div class="col-4 "><strong>Subtotal</strong></div>
                                                <div class="col-4 offset-4 align-self-center ps-5">${{value.subtotal}}
                                                </div>
                                            </div>


                                            <a class="col-12 me-3"
                                                href="{% url 'food:delete_item' product_id=value.product_id %}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                    fill="currentColor" class="bi bi-trash3 text-danger"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                </svg>
                                            </a>
                                        </div>

                                    </div>
                                </li>
                                {% endfor %}
                                <li class="list-group-item "></li>
                            </ul>
                            <!-- For screens ≥ 576px > (small screens and up) -->
                            <div class="row d-flex justify-content-center align-items-center py-2" style="width: 100%;">
                                <div class="col-lg-4 col-sm-4 d-flex justify-content-start align-items-center px-5">
                                    <a href="{% url 'food:clean_cart' %}" style="text-decoration: none;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="currentColor" class="bi bi-trash3 text-danger" viewBox="0 0 16 16">
                                            <path
                                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                        </svg>
                                    </a>
                                    <span class="clear-cart " style="white-space: nowrap;">Clear Cart</span>
                                </div>
                                <div
                                    class="col-lg-4 col-sm-4 offset-sm-4 d-flex justify-content-center align-items-center">
                                    <a href="{% url 'food:home' %}" style="text-decoration: none;">
                                        <span class="clear-cart btn  orange_color fw-bold" role="button">Continue
                                            Shoping</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Start Cart Summary -->
            <div class="col-12 col-sm-12 col-lg-4 gy-3">
                <div class="card ">
                    <div class="card-header " style="background-color: white;">
                        <h4 class="cart-title text-center fs-4">Cart Summary</h4>
                    </div>
                    <div class="card-text card-body">

                        <!-- <div class="d-flex justify-content-center align-items-center "> -->

                        <div class="row ">
                            <p class="col-lg-5 col-sm-5 col-5 offset-2 offset-sm-2 d-flex d-flex justify-content-between fw-bold offset-lg-1">
                                Subtotal</p>
                            <p class="col-lg-3 col-sm-3 col-3 offset-2 offset-sm-2 d-flex d-flex justify-content-between offset-lg-3">
                                ${{ request.session.cartTotalToPay }}</p>
                        </div>
                        <div class="row ">
                            <p class="col-lg-5 col-sm-5 col-5 offset-2 offset-sm-2  d-flex d-flex justify-content-between fw-bold offset-lg-1">
                                Shipping</p>
                                                  
                            <p class=" col-lg-3 col-sm-3 col-3 offset-2 offset-sm-2 d-flex d-flex justify-content-between offset-lg-3 blue-color">Free</p>
                            
                            
                        </div>
                        <div class="row ">
                            <p class="col-lg-5 col-sm-5 col-5 offset-2 offset-sm-2  d-flex d-flex justify-content-between fw-bold offset-lg-1">
                                Total</p>
                            <p class=" col-lg-3 col-sm-3 col-3 offset-2 offset-sm-2 d-flex d-flex justify-content-between offset-lg-3"> 
                                ${{request.session.cartTotalToPay}}</p>
                        </div>
                        <div class="container col-lg-12  ">
                            {% if request.session.personal_data %}
                            <a href="{% url 'food:confirmation' %}" style="text-decoration: none;">
                                <!-- d-grid gap-2 create a block buttons with a full-width -->
                                <span class="clear-cart btn  orange_color fw-bold d-grid gap-2" role="button">Finish
                                    Order</span>
                            </a>
                            {% else %}
                            <a href="{% url 'food:user_data' %}" style="text-decoration: none;">
                                <!-- d-grid gap-2 create a block buttons with a full-width -->
                                <span class="clear-cart btn  orange_color fw-bold d-grid gap-2" role="button">Finish
                                    Order</span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Cart Summary -->
        </div>
    </div>
</div>

<!-- End Hero -->

{% endblock %}