{% extends "food/base.html" %}
{% load static %}

{% block content %}

<!-- Start Hero -->
<div class="grey-background">
    <div class="container px-4">
        <div class="d-flex align-items-center g-5 py-4">
            <div class="col-12 col-sm-8 col-lg-12">
                <div class="card">
                    <h1 class="card-title text-center">Shopping Cart</h1>
                    <div class="container d-flex justify-content-center align-items-center py-3">
                        <div class="px-5">
                            <strong class="cart-warning-message">Check your order carefully. Check quantities and prices before finalising your purchase.</strong>
                        </div>
                    </div>

                    <div class="container text-center">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="col-lg-2"><strong>Product</strong></div>
                                    <div class="col-lg-2"><strong>Price</strong></div>
                                    <div class="col-lg-2"><strong>Quantity</strong></div>
                                    <div class="col-lg-2"><strong>Total</strong></div>
                                    <div class="col-lg-2"></div>
                                </div>
                            </li>
                            <li class="list-group-item"></li>
                        </ul>
                    </div>
                    <div class="card-body py-1">
                        <div class="container text-center">
                            <ul class="list-group list-group-flush">
                                {% for key, value in request.session.cart.items %}
                                <li class="list-group-item equal-height">
                                    <div class="row d-flex justify-content-center align-items-center" style="width: 100%;">
                                        <div class="col-lg-1 d-flex justify-content-center align-items-center ">
                                            
                                            <img src="{{ value.image }}" alt="{{ value.name }} image" class="product-image">
                                        </div>
                                        <!-- I put 'd-flex justify....align...' to all columns to ensure horizontal and vertical alignment within them -->
                                        <div class="col-lg-1 text-format d-flex justify-content-center align-items-center">{{ value.name }}</div>
                                        <div class="col-lg-2 d-flex justify-content-center align-items-center">{{ value.price }}</div>
                                        <div class="col-lg-2 d-flex justify-content-center align-items-center">{{ value.quantity }}</div>
                                        <div class="col-lg-2 d-flex justify-content-center align-items-center">${{ value.subtotal }}</div>
                                        <div class="col-lg-2 d-flex justify-content-center align-items-center">
                                            <a href="{% url 'food:delete_item' product_id=value.product_id %}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3 text-danger" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                                <li class="list-group-item equal-height"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- End Hero -->

{% endblock %}
