{% extends "food/base.html" %}

<body>
    {% block content %}

    <!-- MENU NAV BAR -->
    <ul class="nav nav-tabs d-flex justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
        role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#Main" aria-selected="true" role="tab">
                <h4 class="red_color">Main</h4>
            </a>
        </li><!-- End tab nav item -->

        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#drinks" aria-selected="false" role="tab">
                <h4 class="red_color">Drinks</h4>
            </a>
        </li><!-- End tab nav item -->

        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#desserts" aria-selected="false" role="tab">
                <h4 class="red_color">Desserts</h4>
            </a>
        </li><!-- End tab nav item -->

        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner" aria-selected="false" role="tab">
                <h4 class="red_color">Sides</h4>
            </a>
        </li><!-- End tab nav item -->

    </ul>
    <!-- END MENU NAV BAR -->




    <!-- center the text -->
    <div class="text-center">
        <!-- google font -->
        <p class="amatic-sc-regular">Menu</p>
    </div>

    <!-- RESTAURANT MENU -->
    <!-- Container to center align content and provide padding and center the text -->
    <div class="container text-center">
        <div class="tab-content">

            <!-- START MAIN MENU -->
            <div class="tab-pane fade active show" id="Main">
                <!-- Creates a row of columns with a gutter (spacing) of 5 units between them. -->
                <div class="row gy-5 py-5 ">

                    {% for item in item_list %}
                    <div class="col-lg-3 d-flex">
                        <!-- Flexbox is a tool for designing elements that align and distribute space within a container. -->
                        <div class="card h-100 d-flex flex-column" style="width: 18rem;">
                            <div class="card-body d-flex flex-column">
                                <a href="{{ item.imagen.url }}" class=""><img src="{{ item.imagen.url }}"
                                        class="img-fluid" style="height: 210px;" alt=""></a>
                                <h4>{{ item.item_name }}</h4>
                                <p class="mt-auto">
                                    {{ item.item_description }}
                                </p>
                                <p class="mt-auto">
                                    ${{ item.item_price }}
                                </p>
                                <div class="mt-auto">
                                    <a data-bs-toggle="modal" data-bs-target="#detallesModal{{ item.id }}"
                                        class="btn btn-info" style="background-color: #F3B95F; border-color: #F3B95F;">
                                        View details
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Vertically centered modal -->
                    <!-- modal fade: Creates a modal dialog that fades in and out. -->
                    <div class="modal fade" id="detallesModal{{ item.id }}" tabindex="-1"
                        aria-labelledby="detallesModalLabel{{ item.id }}" aria-hidden="true" s>
                        <!-- modal-dialog modal-dialog-centered: Centers the modal vertically and horizontally. -->
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <!-- modal-content: Creates the content area of the modal. -->
                            <!-- START MODAL CONTENT -->
                            <div class="modal-content">
                                <div class="ld-over p-2">
                                    <div class="row variant-fancy-box">
                                        <div class="col-12 col-md-2 p-0">
                                            <div class="text-center ">
                                                <div class="image">
                                                    <img alt="{{ item.item_name }}" title="{{ item.item_name }}"
                                                        class="lazy" src="{{ item.imagen.url }}" width="320"
                                                        height="320">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-4">
                                            <div class="product-head mb-3">
                                                <div class="product-title nunito-sans">
                                                    {{ item.item_name }}
                                                </div>

                                            </div>
                                            <div class="product-head mb-3">
                                                <div class="product-title ">
                                                    {{ item.item_description }}
                                                </div>

                                            </div>
                                            <div class=" hero">
                                                <div class="price-from">Precio</div>
                                                <div class=" clearfix">
                                                    <div class="product-prices">
                                                        <span class="">
                                                            <span class=" red_color" data-price="17528.0">
                                                                ${{item.item_price }}</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>


                                            <!-- We will transfer the products to the cart 'session['cart']' when the user clicks on the 'add to cart' button -->
                                            <!-- clearfix ensures that the internal elements of the form do not overflow. -->
                                            <form class="clearfix"
                                                action="{% url 'food:add_item' product_id=item.id product_type='itemx' %}"
                                                method="post">
                                                {% csrf_token %}

                                                
                                                    <div class="clearfix text-center pt-2 pb-3">
                                                        <!-- The for attribute in the <label> tag must contain the id of the input field to which it is associated -->
                                                        <label for="quantity-{{ item.id }}">Cantidad</label>
                                                        <!-- The for attribute on a <label> tag is used to associate the label with a specific input field. When you click the label, the associated input field automatically receives focus. -->
                                                        <div>
                                                            <div>
                                                                <!-- decrease button -->
                                                                <button type="button" class="btn btn-light" ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                                                  </svg>
                                                                </button>
                                                                
                                                                <!-- quantity input -->
                                                                <div>
                                                                    <input type="number" name="quantity"
                                                                        id="quantity-{{ item.id }}" value="1"
                                                                        class="form-control" autocomplete="off" min="1"
                                                                        max="999">
                                                                </div>
                                                                
                                                                <!-- Increase button -->
                                                                <button type="button">-</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="container">
                                                        <button type="submit" class="btn btn-success"
                                                            style="width: 100%;">
                                                            Add to Cart
                                                        </button>
                                                    </div>
                                               
                                            </form>

                                        </div>
                                    </div>
                                    <div class="ld ld-ring ld-spin"></div>
                                </div>
                            </div>
                            <!-- FINISH MODAL CONTENT -->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- END  MAIN   MENU -->


            <!-- DRINKS   MENU -->
            <div class="tab-pane fade" id="drinks">
                <div class="row gy-5 py-5">
                    {% for item in drinksItems_list %}
                    <div class="col-lg-3 d-flex">
                        <!-- Flexbox is a tool for designing elements that align and distribute space within a container. -->
                        <div class="card h-100 d-flex flex-column" style="width: 18rem;">
                            <div class="card-body d-flex flex-column">
                                <a href="{{ item.imagen.url }}" class=""><img src="{{ item.imagen.url }}"
                                        class="img-fluid" style="height: 210px;" alt=""></a>
                                <h4>{{ item.item_name }}</h4>
                                <p class="mt-auto">
                                    {{ item.item_description }}
                                </p>
                                <p class="mt-auto">
                                    ${{ item.item_price }}
                                </p>
                                <div class="mt-auto">
                                    <a data-bs-toggle="modal" data-bs-target="#drinksModal{{ item.id }}"
                                        class="btn btn-info" style="background-color: #F3B95F; border-color: #F3B95F;">
                                        View details
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Vertically centered modal -->
                    <!-- modal fade: Creates a modal dialog that fades in and out. -->
                    <div class="modal fade" id="drinksModal{{ item.id }}" tabindex="-1"
                        aria-labelledby="drinksModalLabel{{ item.id }}" aria-hidden="true" s>
                        <!-- modal-dialog modal-dialog-centered: Centers the modal vertically and horizontally. -->
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <!-- modal-content: Creates the content area of the modal. -->
                            <!-- START MODAL CONTENT -->
                            <div class="modal-content">
                                <div class="ld-over p-2">
                                    <div class="row ">
                                        <div class="col-12 col-md-2 p-0">
                                            <div class="text-center ">
                                                <div class="image">
                                                    <img alt="{{ item.item_name }}" title="{{ item.item_name }}"
                                                        class="" src="{{ item.imagen.url }}" width="320" height="320">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-4">
                                            <div class="product-head mb-3">
                                                <div class="product-title nunito-sans">
                                                    {{ item.item_name }}
                                                </div>

                                            </div>
                                            <div class="product-head mb-3">
                                                <div class="product-title ">
                                                    {{ item.item_description }}
                                                </div>

                                            </div>
                                            <div class="hero">
                                                <div class="">Precio</div>
                                                <div class=" clearfix">
                                                    <div class="product-prices">
                                                        <span class="">
                                                            <span class=" red_color" data-price="17528.0">
                                                                ${{item.item_price }}</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>


                                            <form class="clearfix" action="{% url 'food:add_item' product_id=item.id product_type=item.product_type %}" method="post">
                                                {% csrf_token %}
                                                <div class="">
                                                    <div class="clearfix text-center pt-2 pb-3">
                                                        <label for="quantity-{{ item.id }}">Cantidad</label>
                                                        <div>
                                                            <div>
                                                                <button type="button" class="btn btn-outline-secondary"
                                                                    disabled><i class="far fa-minus"></i></button>
                                                                <div>
                                                                    <input type="number" name="quantity"
                                                                        class="form-control" autocomplete="off" min="1"
                                                                        max="999" value="1">
                                                                </div>
                                                                <button type="button" 
                                                                    class="btn btn-outline-secondary"><i
                                                                        class="far fa-plus"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="container">
                                                        <button type="submit" class="btn btn-success w-100">
                                                            Add to Cart
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                    <div class="ld ld-ring ld-spin"></div>
                                </div>
                            </div>
                            <!-- FINISH MODAL CONTENT -->
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
            <!-- END DRINKS MENU -->


            <!-- START DESSERTS MENU -->
            <div class="tab-pane fade" id="desserts">
                <div class="row gy-5 py-5">
                    {% for item in dessertsItems_list %}
                    <div class="col-lg-3 d-flex">
                        <!-- Flexbox is a tool for designing elements that align and distribute space within a container. -->
                        <div class="card h-100 d-flex flex-column" style="width: 18rem;">
                            <div class="card-body d-flex flex-column">
                                <a href="{{ item.imagen.url }}" class=""><img src="{{ item.imagen.url }}"
                                        class="img-fluid" style="height: 210px;" alt=""></a>
                                <h4>{{ item.item_name }}</h4>
                                <p class="mt-auto">
                                    {{ item.item_description }}
                                </p>
                                <p class="mt-auto">
                                    ${{ item.item_price }}
                                </p>
                                <div class="mt-auto">
                                    <a data-bs-toggle="modal" data-bs-target="#dessertsModal{{ item.id }}"
                                        class="btn btn-info" style="background-color: #F3B95F; border-color: #F3B95F;">
                                        View details
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Vertically centered modal -->
                    <!-- modal fade: Creates a modal dialog that fades in and out. -->
                    <div class="modal fade" id="dessertsModal{{ item.id }}" tabindex="-1"
                        aria-labelledby="dessertsModalLabel{{ item.id }}" aria-hidden="true" s>
                        <!-- modal-dialog modal-dialog-centered: Centers the modal vertically and horizontally. -->
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <!-- modal-content: Creates the content area of the modal. -->
                            <!-- START MODAL CONTENT -->
                            <div class="modal-content">
                                <div class="ld-over p-2">
                                    <div class="row ">
                                        <div class="col-12 col-md-2 p-0">
                                            <div class="text-center ">
                                                <div class="image">
                                                    <img alt="{{ item.item_name }}" title="{{ item.item_name }}"
                                                        class="" src="{{ item.imagen.url }}" width="320" height="320">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-4">
                                            <div class="product-head mb-3">
                                                <div class="product-title nunito-sans">
                                                    {{ item.item_name }}
                                                </div>

                                            </div>
                                            <div class="product-head mb-3">
                                                <div class="product-title ">
                                                    {{ item.item_description }}
                                                </div>

                                            </div>
                                            <div class=" hero">
                                                <div class="">Precio</div>
                                                <div class="clearfix">
                                                    <div class="product-prices">
                                                        <span class="">
                                                            <span class=" red_color" data-price="17528.0">
                                                                ${{item.item_price }}</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <form class="clearfix" action="{% url 'food:add_item' product_id=item.id product_type=item.product_type %}" method="post">
                                                {% csrf_token %}
                                                <div class="">
                                                    <div class="clearfix text-center pt-2 pb-3">
                                                        <label for="quantity-{{ item.id }}">Cantidad</label>
                                                        <div>
                                                            <div>
                                                                <button type="button" class="btn btn-outline-secondary"
                                                                    disabled><i class="far fa-minus"></i></button>
                                                                <div>
                                                                    <input type="number" name="quantity"
                                                                        class="form-control" autocomplete="off" min="1"
                                                                        max="999" value="1">
                                                                </div>
                                                                <button type="button"
                                                                    class="btn btn-outline-secondary"><i
                                                                        class="far fa-plus"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="container">
                                                        <button type="submit" class="btn btn-success w-100">
                                                            Add to Cart
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>


                                        </div>
                                    </div>
                                    <div class="ld ld-ring ld-spin"></div>
                                </div>
                            </div>
                            <!-- FINISH MODAL CONTENT -->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- END DESSERTS MENU -->

            <!-- START SIDES MENU -->
            <div class="tab-pane fade" id="menu-dinner">
                <div class="row g-4 py-5">
                    {% for item in sidesItems_list %}
                    <div class="col-lg-3 d-flex">
                        <!-- Flexbox is a tool for designing elements that align and distribute space within a container. -->
                        <div class="card h-100 d-flex flex-column" style="width: 18rem;">
                            <div class="card-body d-flex flex-column">
                                <a href="{{ item.imagen.url }}" class=""><img src="{{ item.imagen.url }}"
                                        class="img-fluid" style="height: 210px;" alt=""></a>
                                <h4>{{ item.item_name }}</h4>
                                <p class="mt-auto">
                                    {{ item.item_description }}
                                </p>
                                <p class="mt-auto">
                                    ${{ item.item_price }}
                                </p>
                                <div class="mt-auto">
                                    <a data-bs-toggle="modal" data-bs-target="#menu-dinnerModal{{ item.id }}"
                                        class="btn btn-info" style="background-color: #F3B95F; border-color: #F3B95F;">
                                        View details
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Vertically centered modal -->
                    <!-- modal fade: Creates a modal dialog that fades in and out. -->
                    <div class="modal fade" id="menu-dinnerModal{{ item.id }}" tabindex="-1"
                        aria-labelledby="menu-dinnerModalLabel{{ item.id }}" aria-hidden="true" s>
                        <!-- modal-dialog modal-dialog-centered: Centers the modal vertically and horizontally. -->
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <!-- modal-content: Creates the content area of the modal. -->
                            <!-- START MODAL CONTENT -->
                            <div class="modal-content">
                                <div class="ld-over p-2">
                                    <div class="row ">
                                        <div class="col-12 col-md-2 p-0">
                                            <div class="text-center ">
                                                <div class="image">
                                                    <img alt="{{ item.item_name }}" title="{{ item.item_name }}"
                                                        class="" src="{{ item.imagen.url }}" width="320" height="320">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-4">
                                            <div class="product-head mb-3">
                                                <div class="product-title nunito-sans">
                                                    {{ item.item_name }}
                                                </div>

                                            </div>
                                            <div class="product-head mb-3">
                                                <div class="product-title ">
                                                    {{ item.item_description }}
                                                </div>

                                            </div>
                                            <div class="hero">
                                                <div class="">Precio</div>
                                                <div class=" clearfix">
                                                    <div class="product-prices">
                                                        <span class="">
                                                            <span class=" red_color" data-price="17528.0">
                                                                ${{item.item_price }}</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>


                                            <form class="clearfix" action="{% url 'food:add_item' product_id=item.id product_type=item.product_type %}"  method="post">
                                                {% csrf_token %}
                                                <div class="">
                                                    <div class="clearfix text-center pt-2 pb-3">
                                                        <label for="quantity-{{ item.id }}">Cantidad</label>
                                                        <div>
                                                            <div>
                                                                <button type="button" class="btn btn-outline-secondary"
                                                                    disabled><i class="far fa-minus"></i></button>
                                                                <div>
                                                                    <input type="number" name="quantity"
                                                                        class="form-control" autocomplete="off" min="1"
                                                                        max="999" value="1">
                                                                </div>
                                                                <button type="button"
                                                                    class="btn btn-outline-secondary"><i
                                                                        class="far fa-plus"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="container">
                                                        <button type="submit" class="btn btn-success w-100">
                                                            Add to Cart
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>


                                        </div>
                                    </div>
                                    <div class="ld ld-ring ld-spin"></div>
                                </div>
                            </div>
                            <!-- FINISH MODAL CONTENT -->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- END SIDES MENU -->
        </div>
    </div>
    <!-- END MAIN MENU -->
    {% endblock %}
</body>