{% extends "food/base.html" %}

<body>
    {% block content %}

    <!-- MENU NAV BAR -->
    <ul class="nav nav-tabs d-flex justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
        role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#Main" aria-selected="true" role="tab">
                <h4 class="red_color">Main</h4>
            </a>
        </li><!-- End tab nav item -->

        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#drinks" aria-selected="false" role="tab">
                <h4 class="red_color">Drinks</h4>
            </a>
        </li><!-- End tab nav item -->

        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#desserts" aria-selected="false" role="tab">
                <h4 class="red_color">Desserts</h4>
            </a>
        </li><!-- End tab nav item -->

        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner" aria-selected="false" role="tab">
                <h4 class="red_color">Sides</h4>
            </a>
        </li><!-- End tab nav item -->

    </ul>
    <!-- END MENU NAV BAR -->

    <!-- center the text -->
    <div class="text-center">
        <!-- google font -->
        <p class="amatic-sc-regular">Menu</p>
    </div>

    <!-- RESTAURANT MENU -->
    <!-- Container to center align content and provide padding and center the text -->
    <div class="container text-center">
        <div class="tab-content">

            <!-- START MAIN MENU -->
            <div class="tab-pane fade active show" id="Main">
                <!-- Creates a row of columns with a gutter (spacing) of 5 units between them. -->
                <div class="row gy-5">

                    {% for item in item_list %}
                    <div class="col-lg-3 d-flex">
                        <!-- Flexbox is a tool for designing elements that align and distribute space within a container. -->
                        <div class="card h-100 d-flex flex-column" style="width: 18rem;">
                            <div class="card-body d-flex flex-column">
                                <a href="{{ item.imagen.url }}" class=""><img src="{{ item.imagen.url }}"
                                        class="img-fluid" style="height: 210px;" alt=""></a>
                                <h4>{{ item.item_name }}</h4>
                                <p class="mt-auto">
                                    {{ item.item_description }}
                                </p>
                                <p class="mt-auto">
                                    ${{ item.item_price }}
                                </p>
                                <div class="mt-auto">
                                    <a data-bs-toggle="modal" data-bs-target="#detallesModal{{ item.id }}" class="btn btn-info" style="background-color: #F3B95F; border-color: #F3B95F;">
                                        View details
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Vertically centered modal -->
                    <!-- modal fade: Creates a modal dialog that fades in and out. -->
                    <div class="modal fade" id="detallesModal{{ item.id }}" tabindex="-1"
                        aria-labelledby="detallesModalLabel{{ item.id }}" aria-hidden="true" s>
                        <!-- modal-dialog modal-dialog-centered: Centers the modal vertically and horizontally. -->
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <!-- modal-content: Creates the content area of the modal. -->
                            <!-- START MODAL CONTENT -->
                            <div class="modal-content">
                                <div class="ld-over p-2">
                                    <div class="row variant-fancy-box">
                                        <div class="col-12 col-md-2 p-0">
                                            <div class="text-center one-photo-quick">
                                                <div class="image">
                                                    <img alt="{{ item.item_name }}" title="{{ item.item_name }}"
                                                        class="lazy" src="{{ item.imagen.url }}" width="320"
                                                        height="320">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-4">
                                            <div class="product-head mb-3">
                                                <div class="product-title nunito-sans">
                                                    {{ item.item_name }}
                                                </div>
                                                
                                            </div>
                                            <div class="product-head mb-3">
                                                <div class="product-title ">
                                                    {{ item.item_description }}
                                                </div>
                                                
                                            </div>    
                                            <div class="grey-action hero">
                                                <div class="price-from">Precio</div>
                                                <div class="product-detail-price clearfix">
                                                    <div class="product-prices">
                                                        <span class="number-price">
                                                            <span class="total-options red_color" data-price="17528.0">
                                                                ${{item.item_price }}</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            
                                             <!-- We will transfer the products to the cart 'session['cart']' when the user clicks on the 'add to cart' button -->
                                            <form class="clearfix product-show-form" action="{% url 'food:add_item' product_id=item.id product_type='itemx' %}"
                                                accept-charset="UTF-8" data-remote="true" method="post">
                                                {% csrf_token %}

                                                
                                                <input type="hidden" name="authenticity_token"
                                                    value="drP6S-Vi49Y9EJfMT4R5kOdRV6UVubQx1Duuk8dbmpsxs4pYUEBEoWgmHIrkvncQT4vT7W9Vuq1UnfVwjPYZrw"
                                                    autocomplete="off">
                                                <input type="hidden" name="product_hash"
                                                    value="8285132b-5a28-4542-98e3-11027c3ef866" autocomplete="off">
                                                <input type="hidden" name="variant_hash"
                                                    value="12e81e44-e586-446e-a597-121def8d86b4" autocomplete="off">
                                                <div class="white-action">
                                                    <div class="product-row clearfix text-center pt-2 pb-3">
                                                        <label class="title-option"
                                                            for="quantity-{{ item.id }}">Cantidad</label>
                                                        <div class="qty-block">
                                                            <div class="qty-square-buttons">
                                                                <button name="button" type="button"
                                                                    class="quantity-square minus-square"
                                                                    data-type="minus" disabled="disabled"><i
                                                                        class="far fa-minus"></i></button>
                                                                <div class="qty-input">
                                                                    <input type="number" name="quantity"
                                                                        id="quantity-{{ item.id }}" value="1"
                                                                        class="qty-field focused" autocomplete="off"
                                                                        min="1" max="999" data-min="1" data-max="2"
                                                                        data-default="1" data-factor="1">
                                                                </div>
                                                                <button name="button" type="button"
                                                                    class="quantity-square plus-square"
                                                                    data-type="plus"><i
                                                                        class="far fa-plus"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-row clearfix">

                                                        <button type="submit" class=" btn btn-success"
                                                            style="width: 100%;">
                                                            Add to Car
                                                        </button>
                                                    </div>
                                                </div>

                                            </form>

                                        </div>
                                    </div>
                                    <div class="ld ld-ring ld-spin"></div>
                                </div>
                            </div>
                            <!-- FINISH MODAL CONTENT -->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- END  MAIN   MENU -->


            <!-- DRINKS   MENU -->
            <div class="tab-pane fade" id="drinks">
                <div class="row gy-5">
                    {% for item in drinksItems_list %}
                    <div class="col-lg-3 d-flex">
                        <!-- Flexbox is a tool for designing elements that align and distribute space within a container. -->
                        <div class="card h-100 d-flex flex-column" style="width: 18rem;">
                            <div class="card-body d-flex flex-column">
                                <a href="{{ item.imagen.url }}" class=""><img src="{{ item.imagen.url }}"
                                        class="img-fluid" style="height: 210px;" alt=""></a>
                                <h4>{{ item.item_name }}</h4>
                                <p class="mt-auto">
                                    {{ item.item_description }}
                                </p>
                                <p class="mt-auto">
                                    ${{ item.item_price }}
                                </p>
                                <div class="mt-auto">
                                    <a data-bs-toggle="modal" data-bs-target="#drinksModal{{ item.id }}" class="btn btn-info" style="background-color: #F3B95F; border-color: #F3B95F;">
                                        View details
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Vertically centered modal -->
                    <!-- modal fade: Creates a modal dialog that fades in and out. -->
                    <div class="modal fade" id="drinksModal{{ item.id }}" tabindex="-1"
                        aria-labelledby="drinksModalLabel{{ item.id }}" aria-hidden="true" s>
                        <!-- modal-dialog modal-dialog-centered: Centers the modal vertically and horizontally. -->
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <!-- modal-content: Creates the content area of the modal. -->
                            <!-- START MODAL CONTENT -->
                            <div class="modal-content">
                                <div class="ld-over p-2">
                                    <div class="row variant-fancy-box">
                                        <div class="col-12 col-md-2 p-0">
                                            <div class="text-center one-photo-quick">
                                                <div class="image">
                                                    <img alt="{{ item.item_name }}" title="{{ item.item_name }}"
                                                        class="lazy" src="{{ item.imagen.url }}" width="320"
                                                        height="320">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-4">
                                            <div class="product-head mb-3">
                                                <div class="product-title nunito-sans">
                                                    {{ item.item_name }}
                                                </div>
                                                
                                            </div>
                                            <div class="product-head mb-3">
                                                <div class="product-title ">
                                                    {{ item.item_description }}
                                                </div>
                                                
                                            </div>  
                                            <div class="grey-action hero">
                                                <div class="price-from">Precio</div>
                                                <div class="product-detail-price clearfix">
                                                    <div class="product-prices">
                                                        <span class="number-price">
                                                            <span class="total-options red_color" data-price="17528.0">
                                                                ${{item.item_price }}</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <form class="clearfix product-show-form" action="/es/line_items"
                                                accept-charset="UTF-8" data-remote="true" method="post">
                                                <input type="hidden" name="authenticity_token"
                                                    value="drP6S-Vi49Y9EJfMT4R5kOdRV6UVubQx1Duuk8dbmpsxs4pYUEBEoWgmHIrkvncQT4vT7W9Vuq1UnfVwjPYZrw"
                                                    autocomplete="off">
                                                <input type="hidden" name="product_hash"
                                                    value="8285132b-5a28-4542-98e3-11027c3ef866" autocomplete="off">
                                                <input type="hidden" name="variant_hash"
                                                    value="12e81e44-e586-446e-a597-121def8d86b4" autocomplete="off">
                                                <div class="white-action">
                                                    <div class="product-row clearfix text-center pt-2 pb-3">
                                                        <label class="title-option"
                                                            for="quantity-{{ item.id }}">Cantidad</label>
                                                        <div class="qty-block">
                                                            <div class="qty-square-buttons">
                                                                <button name="button" type="button"
                                                                    class="quantity-square minus-square"
                                                                    data-type="minus" disabled="disabled"><i
                                                                        class="far fa-minus"></i></button>
                                                                <div class="qty-input">
                                                                    <input type="number" name="quantity"
                                                                       
                                                                        class="qty-field focused" autocomplete="off"
                                                                        min="1" max="999" data-min="1" data-max="2"
                                                                        data-default="1" data-factor="1">
                                                                </div>
                                                                <button name="button" type="button"
                                                                    class="quantity-square plus-square"
                                                                    data-type="plus"><i
                                                                        class="far fa-plus"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-row clearfix">

                                                        <button type="button" class=" btn btn-success"
                                                            style="width: 100%;">
                                                            Add to Car
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                    <div class="ld ld-ring ld-spin"></div>
                                </div>
                            </div>
                            <!-- FINISH MODAL CONTENT -->
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
            <!-- END DRINKS MENU -->


            <!-- START DESSERTS MENU -->
            <div class="tab-pane fade" id="desserts">
                <div class="row gy-5">
                    {% for item in dessertsItems_list %}
                    <div class="col-lg-3 d-flex">
                        <!-- Flexbox is a tool for designing elements that align and distribute space within a container. -->
                        <div class="card h-100 d-flex flex-column" style="width: 18rem;">
                            <div class="card-body d-flex flex-column">
                                <a href="{{ item.imagen.url }}" class=""><img src="{{ item.imagen.url }}"
                                        class="img-fluid" style="height: 210px;" alt=""></a>
                                <h4>{{ item.item_name }}</h4>
                                <p class="mt-auto">
                                    {{ item.item_description }}
                                </p>
                                <p class="mt-auto">
                                    ${{ item.item_price }}
                                </p>
                                <div class="mt-auto">
                                    <a data-bs-toggle="modal" data-bs-target="#dessertsModal{{ item.id }}" class="btn btn-info" style="background-color: #F3B95F; border-color: #F3B95F;">
                                        View details
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Vertically centered modal -->
                    <!-- modal fade: Creates a modal dialog that fades in and out. -->
                    <div class="modal fade" id="dessertsModal{{ item.id }}" tabindex="-1"
                        aria-labelledby="dessertsModalLabel{{ item.id }}" aria-hidden="true" s>
                        <!-- modal-dialog modal-dialog-centered: Centers the modal vertically and horizontally. -->
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <!-- modal-content: Creates the content area of the modal. -->
                            <!-- START MODAL CONTENT -->
                            <div class="modal-content">
                                <div class="ld-over p-2">
                                    <div class="row variant-fancy-box">
                                        <div class="col-12 col-md-2 p-0">
                                            <div class="text-center one-photo-quick">
                                                <div class="image">
                                                    <img alt="{{ item.item_name }}" title="{{ item.item_name }}"
                                                        class="lazy" src="{{ item.imagen.url }}" width="320"
                                                        height="320">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-4">
                                            <div class="product-head mb-3">
                                                <div class="product-title nunito-sans">
                                                    {{ item.item_name }}
                                                </div>
                                               
                                            </div>
                                            <div class="product-head mb-3">
                                                <div class="product-title ">
                                                    {{ item.item_description }}
                                                </div>
                                                
                                            </div>  
                                            <div class="grey-action hero">
                                                <div class="price-from">Precio</div>
                                                <div class="product-detail-price clearfix">
                                                    <div class="product-prices">
                                                        <span class="number-price">
                                                            <span class="total-options red_color" data-price="17528.0">
                                                                ${{item.item_price }}</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <form class="clearfix product-show-form" action="/es/line_items"
                                                accept-charset="UTF-8" data-remote="true" method="post">
                                                <input type="hidden" name="authenticity_token"
                                                    value="drP6S-Vi49Y9EJfMT4R5kOdRV6UVubQx1Duuk8dbmpsxs4pYUEBEoWgmHIrkvncQT4vT7W9Vuq1UnfVwjPYZrw"
                                                    autocomplete="off">
                                                <input type="hidden" name="product_hash"
                                                    value="8285132b-5a28-4542-98e3-11027c3ef866" autocomplete="off">
                                                <input type="hidden" name="variant_hash"
                                                    value="12e81e44-e586-446e-a597-121def8d86b4" autocomplete="off">
                                                <div class="white-action">
                                                    <div class="product-row clearfix text-center pt-2 pb-3">
                                                        <label class="title-option"
                                                            for="quantity-{{ item.id }}">Cantidad</label>
                                                        <div class="qty-block">
                                                            <div class="qty-square-buttons">
                                                                <button name="button" type="button"
                                                                    class="quantity-square minus-square"
                                                                    data-type="minus" disabled="disabled"><i
                                                                        class="far fa-minus"></i></button>
                                                                <div class="qty-input">
                                                                    <input type="number" name="quantity"
                                                                        
                                                                        class="qty-field focused" autocomplete="off"
                                                                        min="1" max="999" data-min="1" data-max="2"
                                                                        data-default="1" data-factor="1">
                                                                </div>
                                                                <button name="button" type="button"
                                                                    class="quantity-square plus-square"
                                                                    data-type="plus"><i
                                                                        class="far fa-plus"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-row clearfix">

                                                        <button type="button" class=" btn btn-success"
                                                            style="width: 100%;">
                                                            Add to Car
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                    <div class="ld ld-ring ld-spin"></div>
                                </div>
                            </div>
                            <!-- FINISH MODAL CONTENT -->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- END DESSERTS MENU -->

            <!-- START SIDES MENU -->
            <div class="tab-pane fade" id="menu-dinner">
                <div class="row g-4">
                    {% for item in sidesItems_list %}
                    <div class="col-lg-3 d-flex">
                        <!-- Flexbox is a tool for designing elements that align and distribute space within a container. -->
                        <div class="card h-100 d-flex flex-column" style="width: 18rem;">
                            <div class="card-body d-flex flex-column">
                                <a href="{{ item.imagen.url }}" class=""><img src="{{ item.imagen.url }}"
                                        class="img-fluid" style="height: 210px;" alt=""></a>
                                <h4>{{ item.item_name }}</h4>
                                <p class="mt-auto">
                                    {{ item.item_description }}
                                </p>
                                <p class="mt-auto">
                                    ${{ item.item_price }}
                                </p>
                                <div class="mt-auto">
                                    <a data-bs-toggle="modal" data-bs-target="#menu-dinnerModal{{ item.id }}" class="btn btn-info" style="background-color: #F3B95F; border-color: #F3B95F;">
                                        View details
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Vertically centered modal -->
                    <!-- modal fade: Creates a modal dialog that fades in and out. -->
                    <div class="modal fade" id="menu-dinnerModal{{ item.id }}" tabindex="-1"
                        aria-labelledby="menu-dinnerModalLabel{{ item.id }}" aria-hidden="true" s>
                        <!-- modal-dialog modal-dialog-centered: Centers the modal vertically and horizontally. -->
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <!-- modal-content: Creates the content area of the modal. -->
                            <!-- START MODAL CONTENT -->
                            <div class="modal-content">
                                <div class="ld-over p-2">
                                    <div class="row variant-fancy-box">
                                        <div class="col-12 col-md-2 p-0">
                                            <div class="text-center one-photo-quick">
                                                <div class="image">
                                                    <img alt="{{ item.item_name }}" title="{{ item.item_name }}"
                                                        class="lazy" src="{{ item.imagen.url }}" width="320"
                                                        height="320">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-4">
                                            <div class="product-head mb-3">
                                                <div class="product-title nunito-sans">
                                                    {{ item.item_name }}
                                                </div>
                                                
                                            </div>
                                            <div class="product-head mb-3">
                                                <div class="product-title ">
                                                    {{ item.item_description }}
                                                </div>
                                                
                                            </div>  
                                            <div class="grey-action hero">
                                                <div class="price-from">Precio</div>
                                                <div class="product-detail-price clearfix">
                                                    <div class="product-prices">
                                                        <span class="number-price">
                                                            <span class="total-options red_color" data-price="17528.0">
                                                                ${{item.item_price }}</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <form class="clearfix product-show-form" action="/es/line_items"
                                                accept-charset="UTF-8" data-remote="true" method="post">
                                                <input type="hidden" name="authenticity_token"
                                                    value="drP6S-Vi49Y9EJfMT4R5kOdRV6UVubQx1Duuk8dbmpsxs4pYUEBEoWgmHIrkvncQT4vT7W9Vuq1UnfVwjPYZrw"
                                                    autocomplete="off">
                                                <input type="hidden" name="product_hash"
                                                    value="8285132b-5a28-4542-98e3-11027c3ef866" autocomplete="off">
                                                <input type="hidden" name="variant_hash"
                                                    value="12e81e44-e586-446e-a597-121def8d86b4" autocomplete="off">
                                                <div class="white-action">
                                                    <div class="product-row clearfix text-center pt-2 pb-3">
                                                        <label class="title-option"
                                                            for="quantity-{{ item.id }}">Cantidad</label>
                                                        <div class="qty-block">
                                                            <div class="qty-square-buttons">
                                                                <button name="button" type="button"
                                                                    class="quantity-square minus-square"
                                                                    data-type="minus" disabled="disabled"><i
                                                                        class="far fa-minus"></i></button>
                                                                <div class="qty-input">
                                                                    <input type="number" name="quantity"
                                                                       
                                                                        class="qty-field focused" autocomplete="off"
                                                                        min="1" max="999" data-min="1" data-max="2"
                                                                        data-default="1" data-factor="1">
                                                                </div>
                                                                <button name="button" type="button"
                                                                    class="quantity-square plus-square"
                                                                    data-type="plus"><i
                                                                        class="far fa-plus"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-row clearfix">

                                                        <button type="button" class=" btn btn-success"
                                                            style="width: 100%;">
                                                            Add to Car
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                    <div class="ld ld-ring ld-spin"></div>
                                </div>
                            </div>
                            <!-- FINISH MODAL CONTENT -->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- END SIDES MENU -->
        </div>
    </div>
    <!-- END MAIN MENU -->
    {% endblock %}
</body>